a {
    transition: all 0.1s linear;
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}

button {
    user-select: none;
    background: none;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.adminBtn {
    transition: all 0.05s linear;
    color: var(--color-primary);
    border-radius: 5px;
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;

    &:hover {
        background-color: rgb(50, 50, 50);
    }

    &.cancel {
        color: rgb(127, 0, 0);
    }

    &.delete {
        color: red;
    }
}
