a {
    transition: all 0.1s linear;
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}

button {
    user-select: none;
    background: none;
    cursor: pointer;
    outline: 0;
    border: 0;

    &.adminBtn {
        color: var(--color-primary);
        height: 2rem;
        width: 2rem;
    }

    &.save {
        color: var(--color-secondary);
    }

    &.cancel {
        color: rgb(127, 0, 0);
    }

    &.delete {
        color: red;
    }
}
