a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    user-select: none;
    background: none;
    cursor: pointer;
    outline: 0;
    border: 0;

    &.btn {
        border: 1px solid var(--color-primary);
        background: rgba(0, 0, 0, 0.75);
        color: var(--color-primary);
        padding: 5px;
        height: 2rem;
        width: 2rem;
    }

    &.save {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
    }

    &.cancel {
        border-color: yellow;
        color: yellow;
    }

    &.delete {
        border-color: red;
        color: red;
    }
}
