@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'RussoOne';
    src: url('../fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Julius';
    src: url('../fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.ttf');
}
