@font-face {
    font-family: 'Lobster';
    src: url('/storage/fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('/storage/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('/storage/fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'RussoOne';
    src: url('/storage/fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Julius';
    src: url('/storage/fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/storage/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('/storage/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/storage/fonts/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('/storage/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/storage/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/storage/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/storage/fonts/Nunito-Regular.ttf');
}
