@font-face {
    font-family: 'Lobster';
    src: url('/storage/fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('/storage/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('/storage/fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'RussoOne';
    src: url('/storage/fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Julius';
    src: url('/storage/fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/storage/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('/storage/fonts/Barlow-Regular.ttf');
}
