*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    scroll-behavior: smooth;
}

::selection {
    background: var(--color-secondary);
}

body {
    background: var(--color-bg);
    font-family: 'Roboto';
    overflow-x: hidden;
    color: black;

    @media (max-width: 768px) {
        font-size: 80%;
    }
}

#app {
    flex-direction: column;
    background: inherit;
    min-height: 100vh;
    display: flex;
}

img, *::placeholder {
    user-select: none;
}

img {
    max-width: 100%;
}

svg {
    height: 100%;
    width: 100%;
}