:root {
  --color-primary: rgb(33, 150, 243);
  --color-secondary: rgb(245, 0, 87);
  --color-link: rgb(0, 127, 255);
  --color-bg: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  --color-secondary: rgb(0, 179, 101);
  --color-primary: rgb(97, 218, 251);
}

::-moz-selection {
  background: var(--color-primary);
  color: white;
}

::selection {
  background: var(--color-primary);
  color: white;
}

body {
  background: var(--color-bg);
  font-family: 'Roboto';
  overflow-x: hidden;
  color: white;
}

#app {
  flex-direction: column;
  background: inherit;
  min-height: 100vh;
  display: flex;
}

*::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

*:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

img,
*::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  max-width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

input {
  border: 1px solid var(--color-primary);
  background: rgba(0, 0, 0, 0.75);
  letter-spacing: inherit;
  text-shadow: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 0.5rem;
  color: inherit;
  outline: 0;
}

@font-face {
  font-family: 'Lobster';
  src: url("/storage/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: 'Orbitron';
  src: url("/storage/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Righteous';
  src: url("/storage/fonts/Righteous-Regular.ttf");
}

@font-face {
  font-family: 'RussoOne';
  src: url("/storage/fonts/RussoOne-Regular.ttf");
}

@font-face {
  font-family: 'Julius';
  src: url("/storage/fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/storage/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Barlow';
  src: url("/storage/fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  src: url("/storage/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("/storage/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("/storage/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  src: url("/storage/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Nunito';
  src: url("/storage/fonts/Nunito-Regular.ttf");
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  cursor: pointer;
  outline: 0;
  border: 0;
}

button.adminBtn {
  border: 2px solid var(--color-primary);
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-primary);
  padding: 3px;
  height: 2rem;
  width: 2rem;
}

button.save {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

button.cancel {
  border-color: yellow;
  color: yellow;
}

button.delete {
  border-color: red;
  color: red;
}

.project:last-child .scrollButton {
  display: none;
}

