:root {
  --color-link: rgb(0, 127, 255);
  --color-primary: rgb(33, 150, 243);
  --color-secondary: rgb(245, 0, 87);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #1e1e1e;
  min-height: 100vh;
}

#app {
  height: 100%;
}

*::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

*:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

img,
*::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  max-width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Lobster';
  src: url(/fonts/Lobster-Regular.ttf?9406d0ab606cf8cb91c41b65556bd836);
}

@font-face {
  font-family: 'Orbitron';
  src: url(/fonts/Orbitron-VariableFont_wght.ttf?c641d3e90c64fcb82f8f5e2ac5317e98);
}

@font-face {
  font-family: 'Righteous';
  src: url(/fonts/Righteous-Regular.ttf?77fa00996ecb4104c7880b8749c7c4e0);
}

@font-face {
  font-family: 'RussoOne';
  src: url(/fonts/RussoOne-Regular.ttf?537d299a2fedf1a7541940cdbfa610d9);
}

@font-face {
  font-family: 'Julius';
  src: url(/fonts/JuliusSansOne-Regular.ttf?3dcf0ae6a78a6a64ae1e3f2406cefa3b);
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46);
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:visited:hover {
  text-decoration: underline;
}

