:root {
  --color-secondary: rgb(0, 179, 101);
  --color-primary: rgb(97, 218, 251);
  --color-text: rgb(150, 150, 150);
  --color-link: rgb(0, 127, 255);
  --color-bg: rgb(25, 25, 25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: var(--color-primary);
}

::selection {
  color: var(--color-primary);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto';
  overflow-x: hidden;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1.25rem;
  }
}

#app {
  background-color: inherit;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

img,
::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img,
svg {
  min-width: 20px;
}

img {
  max-width: 100%;
}

svg {
  align-self: center;
  width: 100%;
}

::-moz-placeholder {
  letter-spacing: inherit;
  text-shadow: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background: none;
  color: inherit;
  display: flex;
  outline: 0;
  border: 0;
}

:-ms-input-placeholder {
  letter-spacing: inherit;
  text-shadow: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background: none;
  color: inherit;
  display: flex;
  outline: 0;
  border: 0;
}

input,
[contenteditable=true],
::placeholder {
  letter-spacing: inherit;
  text-shadow: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background: none;
  color: inherit;
  display: flex;
  outline: 0;
  border: 0;
}

::-moz-placeholder {
  opacity: 0.35;
}

:-ms-input-placeholder {
  opacity: 0.35;
}

::placeholder {
  opacity: 0.35;
}

@font-face {
  font-family: 'Lobster';
  src: url("/storage/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: 'Orbitron';
  src: url("/storage/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Righteous';
  src: url("/storage/fonts/Righteous-Regular.ttf");
}

@font-face {
  font-family: 'RussoOne';
  src: url("/storage/fonts/RussoOne-Regular.ttf");
}

@font-face {
  font-family: 'Julius';
  src: url("/storage/fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/storage/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Barlow';
  src: url("/storage/fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  src: url("/storage/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("/storage/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("/storage/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  src: url("/storage/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Nunito';
  src: url("/storage/fonts/Nunito-Regular.ttf");
}

a {
  transition: all 0.1s linear;
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.adminBtn {
  transition: all 0.05s linear;
  color: var(--color-primary);
  border-radius: 5px;
  height: 2.5rem;
  width: 2.5rem;
  padding: 5px;
}

.adminBtn:hover {
  background-color: #323232;
}

.adminBtn.cancel {
  color: #7f0000;
}

.adminBtn.delete {
  color: red;
}

